/* Custom CSS for search bar and button */

input[type="text"] {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #CBD5E0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4A5568;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4A5568;
  outline: none;
}

button[type="submit"] {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #4A5568;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2D3748;
}
h1{
  font-family: 'Bangers', sans-serif;
}
